.paletteList {
  background-color: dodgerblue;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 24px;
  overflow: scroll;
  .paletteListContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 16px;
    width: 50%;
    height: 100vh;
  }

  .headerContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    button{
      background-color: white;
      border-radius: 8px;
      border: 2px solid white;
      padding: 4px 8px;
      color: dodgerblue;
      font-weight: bold;
      &:hover{
        cursor: pointer;
        color: white;
        background-color: dodgerblue;
        border: 2px solid white;
      }
    }
    h1 {
      color: white;
    }
  }

  .miniPaletteContainer {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 5%;
    width: 100%;
  }

  .miniPalette {
    cursor: pointer;
  }
}