.header {
  display: flex;
  align-items: center;
  border-bottom: 4px solid #2c2b2b;
  .logo {
    display: flex;
    width: 240px;
    height: 8vh;
    background-color: #3a6c9d;
    background-image: url("https://images.unsplash.com/photo-1487088678257-3a541e6e3922?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2874&q=80");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    font-family: 'Rock Salt', cursive;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    color: white;
    text-shadow: black 2px 2px;
  }

  .slider {
    width: 320px;
    margin: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      text-align: center;
      width: 160px;
    }
  }

  .rc-slider-track {
    background-color: transparent;
  }

  .rc-slider-rail {
    height: 8px;
  }

  .rc-slider-handle,
  .rc-slider-handle:hover,
  .rc-slider-handle:focus,
  .rc-slider-handle:active{
    background-color: green;
    outline: none;
    border: 2px solid green;
    box-shadow: none;
  }

  .selectContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }
}