.paletteFooter {
  background-color: white;
  height: 5vh;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  align-items: center;
  border-top: 4px solid #2c2b2b;
  p{
    margin-right: 16px;
  }
}